* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    margin: 10px 0 10px 10px;
}

table {
    margin: 10px auto 10px;
}

td,
th {
    height: 48px;
}

tr td:first-child {
    width: 200px;
    text-align: left;
}

tr td:nth-child(n+2) {
    width: 100px;
}

thead tr {
    background-color: rgb(164, 44, 249);
    color: white;
}

tr td:first-child {
    text-align: left;
    background-color: rgb(93, 17, 107);
    color: white;
    font-weight: bold;
    padding-left: 20px;
}

tbody td:not(td:first-child) {
    background-color: rgba(101, 7, 122, 0.892);
    text-align: center;
    line-height: 24px;
}

.table {
    margin: 10px auto 10px;
    height: 250px;
    width: 600px;
}

.row div {
    border: 1px solid white;
    height: 48px;
    padding-top: 16px;
    float: left;
}

.row:first-child div:nth-child(n+2) {
    background-color: rgb(119, 8, 85);
    color: white;
    font-weight: bold;
    text-align: center;
}

.row div:first-child {
    background-color: rgb(213, 40, 164);
    color: white;
    padding-left: 20px;
    font-weight: bold;
    width: 200px;
}

.row div:not(div:first-child) {
    width: 100px;
}

.row:nth-child(n+2) div:nth-child(n+2) {
    background-color: rgba(223, 12, 107, 0.892);
    text-align: center;
}