/*
* Background Images - Practice
* CSS Styles
*
*/


/* General */
body {
    font-family: "Open Sans";
    background-color: #383838;
    background-image: url(../img/bg.png);
}

h2 {
    text-align: center;
    text-transform: uppercase;
    color: #EEEEEE;
    margin: 40px 0;
    font-size: 20px;
    font-weight: bold;
}

/* Header */
header {
    height: 430px;
    background-image: url(../img/bg-01.jpg);
    background-size: cover;
    background-position: 0px;
}

nav {
    background-color: rgb(0, 0, 0, .5);
    overflow: hidden;
}

.menu {
    margin-left: 16.5%;
}

.menu li {
    display: block;
    float: left;
}

.menu a {
    display: block;
    height: 50px;
    color: #E4E4E4;
    font-weight: bold;
    text-decoration: none;
    padding: 0px 10px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
}


.menu a:hover {
    background-color: #B91A34;
}

.menu a:visited {
    color: #E4E4E4;
}


.container h1 {
    font-family: "Metal Mania";
    font-size: 75px;
    color: white;
    margin: 90px 0 65px;
    text-align: center;
}

.button {
    display: block;
    background: linear-gradient(to bottom right, #DD0000, #FE356F);
    margin: 0 auto;
    text-align: center;
    text-align: center;
    color: #CFCFCF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

header .container:nth-child(2) .button {
    width: 290px;
    height: 55px;
    line-height: 55px;
}
/* Tour */
#tour {
    overflow: hidden;
}

.tour-card {
    float: left;
    height: 200px;
    width: 200px;
    color: #C6C6C6;
    font-weight: bold;
    padding-top: 40px;
    line-height: 25px;
    margin-right: 30px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    box-shadow: 0 4px 4px rgb(0, 0, 0, .5);
}

.tour-card h3,
.tour-card p {
    margin-left: 10px;
}

.tour-town {
    text-transform: uppercase;
}

.tour-date {
    font-style: italic;
}

.madrid {
    background: linear-gradient(to bottom, rgba(0,0,0,.5) 0%,rgba(0,0,0,.5) 50%,rgba(0,0,0,.5) 51%,rgba(0,0,0,.5) 100%), url(../img/tour/madrid.jpg);
    margin-left: calc(50% - 445px);
}

.turin {
    background: linear-gradient(to bottom, rgba(0,0,0,.5) 0%,rgba(0,0,0,.5) 50%,rgba(0,0,0,.5) 51%,rgba(0,0,0,.5) 100%), url(../img/tour/turin.jpg);
}
.hamburg {
    background: linear-gradient(to bottom, rgba(0,0,0,.5) 0%,rgba(0,0,0,.5) 50%,rgba(0,0,0,.5) 51%,rgba(0,0,0,.5) 100%), url(../img/tour/hamburg.jpg);
}
.krakow {
    background: linear-gradient(to bottom, rgba(0,0,0,.5) 0%,rgba(0,0,0,.5) 50%,rgba(0,0,0,.5) 51%,rgba(0,0,0,.5) 100%), url(../img/tour/krakow.jpg);
}

.tour-card .button {
    height: 35px;
    width: 145px;
    line-height: 35px;
    margin-top: 20px;
}

/* Gallery */
#gallery {
    overflow: hidden;
}

.photo {
    float: left;
    margin-right: 40px;
    margin-bottom: 40px;
    box-shadow: 0 4px 4px rgb(0, 0, 0, .5);
}

.photo img {
    display: block;
    height: 270px;
    width: 270px;
}

.photo:nth-child(2) {
    margin-left: calc(50% - 445px);
}

.photo:nth-child(5) {
    margin-left: calc(50% - 445px);
}
/* Subscribe */
#subscribe {
    height: 290px;
    background-image: url(../img/bg-02.jpg);
    background-size: cover;
    background-position: 0px;
}

#subscribe .container {
    height: 100%;
    background-color: rgb(0, 0, 0, .5);
}

.pitch {
    padding-top: 40px;
    text-align: center;
}

.pitch p {
    margin-top: 45px;
    color: #EEEEEE;
}

.subscribe-form {
    margin: 15px calc(50% - 178px) 0;
}

.subscribe-form input {
    height: 30px;
    width: 210px;
    padding-left: 10px;
}

.subscribe-form button {
    height: 35px;
    width: 125px;
    background: linear-gradient(to bottom right, #DD0000, #FE356F);
    color: #EEEEEE;
    text-transform: uppercase;
}


/* Footer */
footer {
    height: 80px;
    line-height: 30px;
    text-align: center;
    color: #EEEEEE;
    margin-top: 25px;
}

.fa {
    color: white;
    letter-spacing: 15px;
}

